<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<header>
    <!--<div class="tittle">
        <h1>Promocion Dia del Gamer</h1>
    </div>-->
   
</header>
<body>
    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
    <div class="navbarlateral">
        <div>
            <div class="nombrelateral">
                <ion-icon id="libro" name="library-outline"></ion-icon>
                <span>Apex</span>
            </div>
        </div>
        <nav class="navegacion">
            <ul>
                <li>
                    <a id="Novedades" href="#">
                        <ion-icon name="bulb-outline"></ion-icon>
                        <span>Novedades</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="star-half-outline"></ion-icon>
                        <span>Reseña</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="clipboard-outline"></ion-icon>
                        <span>Compra</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="newspaper-outline"></ion-icon>
                        <span>Correos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="cash-outline"></ion-icon>
                        <span>Ofertas</span>
                    </a>
                </li>
            </ul>

        </nav>

        <div>
            <div class="linea">

            </div>
            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Drak Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="container12">
            <header>
                <center>
                    <h1>Novedades del Gaming</h1>
                </center>
            </header>
        </div>
        <div class="contenedor">
            <div class="containerSidebar">
                
            </div>
            <div class="containerjuegos">
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/spiderman2.jpg" alt="Spiderman">
                        <div class="card-overlay">
                            <h4 class="card-title">Accion</h4>
                            <p class="card-text">27 de Abril 2025</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/nba.jpg" alt="NBA">
                        <div class="card-overlay">
                            <h4 class="card-title">Deporte</h4>
                            <p class="card-text">20 de Diciembre 2024</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/gta.jpg" alt="GTA">
                        <div class="card-overlay">
                            <h4 class="card-title">Mundo Abierto</h4>
                            <p class="card-text">1 de Febrero 2025</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/dragonnball.jpeg" alt="Dragon Ball">
                        <div class="card-overlay">
                            <h4 class="card-title">Peleas</h4>
                            <p class="card-text">12 de Agosto 2025</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/apex.jpeg" alt="Apex">
                        <div class="card-overlay">
                            <h4 class="card-title">Online</h4>
                            <p class="card-text">Juegalo Ahora</p> 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/mariowonder.jpeg" alt="Mario Wonder">
                        <div class="card-overlay">
                            <h4 class="card-title">Todo Publico</h4>
                            <p class="card-text">27 de Octubre 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../assets/js/javascript.js"></script>
</body>
</html>
